<h1>Editing motorcycle</h1>

<%= render "form", motorcycle: @motorcycle %>

<br>

<div>
  <%= link_to "Show this motorcycle", @motorcycle %> |
  <%= link_to "Back to motorcycles", motorcycles_path %>
</div>
